<div class="user">
  <!--提示信息-->
  <p-messages  [closable]="true" [style]="{'position':'fixed','top': '0','margin-left': '9vw','width': '80vw','z-index':'9999'}"></p-messages>
  <!--确认弹窗-->
  <p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <rbi-s-loation locationTitle="用户管理"></rbi-s-loation>
  <div class="user-header">
    <rbi-basic-btn [btnOption]="btnOption" (event)="btnEvent($event)" [drapData]="drapData" (changeData)="getDrapData($event)"></rbi-basic-btn>
  </div>
  <div class="user-table">
    <rbi-table-row-tree [select]="userSelect" (selectData)="selectData($event)" [treeTableOption]="userTableOption"></rbi-table-row-tree>
  </div>
  <rbi-paging [option]="pageOption" (pageClick)="nowPageClick($event)"></rbi-paging>
  <rbi-dialog-pop
    [formContrl]="formgroup"
    [formdata]="formdata"
    (eventClick)="eventClick($event)"
    [dialogOption]="dialogOption"
    [treeData]="userTree"></rbi-dialog-pop>
</div>
